<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [118]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [120]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [122]:
for i in range(20):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [124]:
i = 1
total = 0
while i <= 100:
    total = total + i
    i = i + 1

print(total)

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [126]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [127]:
for friend in friends:
    print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [129]:
for friend in friends:
    if friend[-1] in ['a','e','i','o','u']:
        print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [131]:
for i in range(1,31):
    if i % 3 == 0:
        print('Fizz')
    else:
        print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [133]:
for i in range(1,31):
    if i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [135]:
for i in range(1,31):
    if i % 15 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [137]:
sentence = 'I love you.'

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [139]:
vowel = 0
for i in range(len(sentence)):
    if sentence[i] in ['a','e','i','o','u']:
        vowel = vowel + 1

print(vowel)

4

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [141]:
sentence_rm = ''
for i in range(len(sentence)):
    if sentence[i] not in ['a','e','i','o','u']:
        sentence_rm = sentence_rm + sentence[i]

print(sentence_rm)

I lv y.

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [285]:
def isprime(x):
    x = int(x)
    sqrt_x = int(x ** 0.5)
    if x == 1:
        return (1,0,1)
    for i in range(2,sqrt_x + 1):
        if x % i == 0:
            return (x,0,i)
            break
    else:
        return (x,1,1)

def main(x):
    if x[0] == 1:
        return f'1 is not a prime.'
    elif x[1] == 0:
        return f'{x[0]} is not a prime because it is divisible by {x[2]}.'
    else:
        return f'{x[0]} is a prime.'

fav_number = 1
fav_number_2 = 5143815827
fav_number_3 = 5143815829
fav_number_4 = 5143815833

print(main(isprime(fav_number)))
print(main(isprime(fav_number_2)))
print(main(isprime(fav_number_3)))
print(main(isprime(fav_number_4)))

1 is not a prime.
5143815827 is a prime.
5143815829 is not a prime because it is divisible by 37813.
5143815833 is not a prime because it is divisible by 13.

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [145]:
number = 1234321

def ispalindrome(x):
    if str(x) == str(x)[::-1]:
        return True
    else:
        return False

if ispalindrome(number):
    print(f'{number} is palindrome')
else:
    print(f'{number} is not palindrome')

1234321 is palindrome

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [147]:
x = []
for i in range(10,100):
    for j in range(10,100):
        x.append(i*j)
    
for i in sorted(x)[::-1]:
    if ispalindrome(i):
        print(i)
        break
else:
    print('no answer')

9009

In [287]:
# As a lambda function...
is_palindrome = lambda num: str(num) == str(num)[::-1]

# creates generator object that will return the highest palindromic value if wrapped 
# in the max function
max(a * b for a in range(10,100) for b in range(10, 100) if ispalindrome(a * b))

9009

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [150]:
ls_49 = [i for i in range(1,11)]
print(ls_49)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [152]:
ls_50 = [i ** 2 for i in range(1, 11)]
print(ls_50)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [154]:
ls_51 = [ i for i in range(18,48) if i % 2 == 0]
print(ls_51)

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [156]:
ls_52 = [ i ** 2 for i in range(1,21) if i % 2 == 0]
print(ls_52)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [158]:
ls_53 = [ i ** 3 for i in range(7,38)]
print(ls_53)
print(f'The sum is {sum(ls_53)}')

[343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653]
The sum is 493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [160]:
ls_54 = [ i for i in range(1,31) if i % 3 == 0 or i % 5 == 0 ]
print(ls_54)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [162]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [163]:
friends = [ friend.upper() for friend in friends ]
print(friends)

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [165]:
friends_rm = [friend for friend in friends if friend[-1] in 'AEIOUaeiou']

print(friends_rm)

['ALICE', 'CHARLIE']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [167]:
sentence = 'I love you'
vowels = 'aeiouAEIOU'
no_vowels = ''.join([char for char in sentence if char not in vowels])
print(sentence)
print(no_vowels)

I love you
 lv y

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [169]:
ls_Jan = [f'Jan {i}.xlsx' for i in range(1,32)]
print(ls_Jan)

['Jan 1.xlsx', 'Jan 2.xlsx', 'Jan 3.xlsx', 'Jan 4.xlsx', 'Jan 5.xlsx', 'Jan 6.xlsx', 'Jan 7.xlsx', 'Jan 8.xlsx', 'Jan 9.xlsx', 'Jan 10.xlsx', 'Jan 11.xlsx', 'Jan 12.xlsx', 'Jan 13.xlsx', 'Jan 14.xlsx', 'Jan 15.xlsx', 'Jan 16.xlsx', 'Jan 17.xlsx', 'Jan 18.xlsx', 'Jan 19.xlsx', 'Jan 20.xlsx', 'Jan 21.xlsx', 'Jan 22.xlsx', 'Jan 23.xlsx', 'Jan 24.xlsx', 'Jan 25.xlsx', 'Jan 26.xlsx', 'Jan 27.xlsx', 'Jan 28.xlsx', 'Jan 29.xlsx', 'Jan 30.xlsx', 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [171]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [172]:
dollars = [ x * 1.1 for x in euros]
print(dollars)

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [174]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [175]:
heights_can_ride = [ x for x in heights if x >= 60]
print(heights_can_ride)

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [177]:
height_can_ride_2 = [ x if x >= 60 else 'Too short' for x in heights]
print(height_can_ride_2)

[71, 'Too short', 'Too short', 65, 68, 60, 'Too short', 'Too short']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [179]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [180]:
ls_tall_enough = []

for key in people:
    if people[key] >= 60:
        ls_tall_enough.append(key)

print(ls_tall_enough)

ls_tall_enough_2 = [key for key in people if people[key] >= 60]
print(ls_tall_enough_2)

['Barbara', 'Clarence', 'Erika', 'Fernando']
['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [182]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [183]:
ls_final_grade = [ max(people[key]) for key in people]
print(ls_final_grade)

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [185]:
final_grade = { key: max(people[key]) for key in people}
print(final_grade)

{'Aaron': 87, 'Barbara': 92, 'Clarence': 68, 'Donovan': 100, 'Erika': 88, 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [187]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [188]:
ls_65 = list(zip(letters_a,letters_z))

ls_65_ans = [ x[0] + x[1] for x in ls_65]

print(ls_65_ans)

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [190]:
ls_66 = list(enumerate(letters_a))

ls_66_ans = [ f'{x[1]} is letter {x[0] + 1} of the alphabet' for x in ls_66]

print(ls_66_ans)

['A is letter 1 of the alphabet', 'B is letter 2 of the alphabet', 'C is letter 3 of the alphabet', 'D is letter 4 of the alphabet', 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [253]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [261]:
math.sin(math.pi/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [265]:
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [269]:
math.exp(math.factorial(3))

403.4287934927351

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [271]:
from math import ceil, floor

In [273]:
a = (ceil(3.8),ceil(3.2),floor(3.9),floor(3.2))

print(a)

(4, 4, 3, 3)

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [275]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.